In [1]:
import pandas as pd 

df = pd.read_csv("National_Total_Deaths_by_Age_Group.csv")

df

  Age_Group  Total_Cases  Total_ICU_Admissions  Total_Deaths
0       0-9         9127                    22             7
1     10-19        62180                    35             3
2     20-29       107936                   142            15
3     30-39       107508                   194            33
4     40-49       109903                   483            81
5     50-59       101188                  1084           261
6     60-69        53511                  1438           721
7     70-79        26476                  1259          2605
8     80-89        20538                   329          5239
9       90+         9980                     7          3463