In [1]:
import pandas as pd 

df = pd.read_csv("Regional_Totals_Data.csv")

df

,Region,Total_Cases,Cases_per_100k_Pop,Total_ICU_Admissions,Total_Deaths
0,Blekinge,7646,4790.546875,34,112
1,Dalarna,13942,4841.543945,101,302
2,Gotland,2650,4439.902344,24,44
3,Gävleborg,19426,6759.644043,150,482
4,Halland,21052,6305.863770,101,254
5,Jämtland Härjedalen,6249,4777.157715,46,100
6,Jönköping,24236,6665.584961,219,486
7,Kalmar,10391,4233.517578,61,207
8,Kronoberg,13080,6492.313965,79,284
9,Norrbotten,10977,4389.166992,114,212
10,Skåne,103958,7545.069336,453,1474
11,Stockholm,144522,6079.809570,1530,3820
12,Sörmland,12214,4104.994141,223,389
13,Uppsala,22684,5911.709961,241,467
14,Värmland,8320,2946.029541,64,162
15,Västerbotten,11957,4400.226562,75,123
16,Västernorrland,14034,5720.062012,112,387
17,Västmanland,17408,6310.790527,88,311
18,Västra Götaland,105596,6118.382324,926,1993
19,Örebro,16934,5555.683105,135,285
20,Östergötland,21135,4540.328125,217,534

In [ ]:
'''

plt.plot()
plt.title()
plt.xlabel()
plt.ylabel()
plt.legend(firt put label="name" in the plots )
plt.show()

'''